name: Test push in master

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  format-and-test:
    name: Lint files
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo's default branch
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.13.x

      - name: Install dependencies
      - run: yarn --frozen-lockfile

      - name: Audit dependencies
      - run: yarn audit

      - name: esLint
      - run: yarn lint

      - name: Typecheck
      - run: yarn typescript
