name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo's default branch
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.13.x

      - name: Install dependencies
        run: yarn --frozen-lockfile --ignore-engines

      - name: Run unit tests
        run: yarn test --coverage

  # coverage:
  #   if: ${{ always() }}
  #   needs: unit-tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ArtiomTr/jest-coverage-report-action@v2
  #       id: coverage
  #       with:
  #         output: report-markdown
  #     - uses: marocchino/sticky-pull-request-comment@v2
  #       with:
  #         message: ${{ steps.coverage.outputs.report }}
